header(role="banner")
  block header
    h1=nameCursor

  nav(role="navigation"): ul
    each cursor, key in cursors
      li: a(href="index"+(key == 0 ? "" : key+1)+".pug"): span= "demo "+(key+1)
        i= " ("+cursor+")"
